/*  Less Framework 4
  http://lessframework.com
  by Joni Korpi
  License: http://opensource.org/licenses/mit-license.php */


/*  Resets
  ------  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {border: 0;}



/*  Typography presets
  ------------------  */

.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 42px;
  font-weight: 700;
  color: #340A8C;
  line-height: 48px;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 26px;
  line-height: 36px;
}

.bigger, h3 {
  font-size: 22px;
  line-height: 26px;
}

.talk h3 {
  color: rgb(140, 4, 40);
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.big, h4 {
  font-size: 20px;
  line-height: 22px;
}

body {
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
  -ms-text-size-adjust: 100%;
  font: 16px/24px 'Montserrat', Arial, sans-serif;
  padding : 0;
  color : #223035;
  background-color : rgb(248, 248, 248);
}

footer {
  background-color: rgb(52, 55, 58);
}

section footer {
  background-color: transparent;
}

.small, small {
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #340A8C;
}

.center {
  margin: auto;
  text-align: center;
}

.clearfix {
zoom : 1; }

.clearfix:before,
.clearfix:after,
.speaker-list li:before,
.speaker-list li:after  {
content : "\0020";
display : block;
height : 0;
overflow : hidden; }

.clearfix:after,
.speaker-list li:after {
clear : both; }

li, ul {
  text-decoration: none;
  list-style: none;
}
/* Selection colours (easy to forget) */

::selection     {background: rgb(255,255,158);}
::-moz-selection  {background: rgb(255,255,158);}
img::selection    {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

#banner { background-color: rgb(232, 214, 0); }
#information { 
  margin-top: 25px;
  padding-top: 25px; 
  padding-bottom: 25px; 
  background-color: white; 
}
.footerbox { color: white; }
.footerbox a { color: white; }
.content { padding-bottom: 25px;}
.infobox {
  background-color: white;
  border: 1px solid white;
}

.talk {
  background-color: white;
  border: 2px solid rgb(232, 214, 0);
  text-align: left;
}

.empty {
  border: 2px dashed rgb(228, 228, 109);
  background-color: #eee;
}

.empty h3 {
  color: rgb(61, 1, 17);
}

.previous {
  clear: both;
  width: 80%;
  text-align: left;
  margin: 10px;
  padding: 15px;
  font-size: 14px;
}

.logo {
  background: url(../img/barcelona-js.png) no-repeat;
  float: left;
}

.ug-info {
  float: left;
  position: relative;
  top: 65px;
  left: 50px;
}

/*    Default Layout: 992px. */
.content {
  width: 960px;
  margin: auto;
}

#banner {
  height: 150px;
}

.announcement {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
}

.infobox, .sponsor, .talk, .footerbox {
  width: 276px;
  float: left;
  margin: 10px;
  padding: 10px;
}

.footerbox {
  font-size: 12px;
}

.infobox {
  min-height: 250px;
}

.talk {
  min-height: 250px;
}

.logo {
  height: 150px;
  width: 150px;
}

.ug-info {
  width: 810px;
}

/*    Tablet Layout: 768px.   */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  
  body {
    width: 768px;
  }

  .content {
    width: 768px;
    margin: auto;
  }

  #banner {
    height: 150px;
  }

  .announcement {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
  }

  .infobox, .sponsor, .talk, .footerbox {
    width: 212px;
    float: left;
    margin: 10px;
    padding: 10px;
  }

  .footerbox {
    font-size: 12px;
  }

  .infobox {
    min-height: 250px;
  }

  .talk {
    min-height: 250px;
  }

  .logo {
    height: 150px;
    width: 150px;
  }

  .ug-info {
    width: 608px;
    font-size: 20px;
    left: 10px;
  }
}



/*    Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
  
  body {
    width: 320px;
  }

  h1 {
    font-size: 22px;
  }
  
  .content {
    width: 320px;
    margin: auto;
  }

  #banner {
    height: 75px;
  }

  .announcement {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
  }

  .infobox, .sponsor, .talk, .footerbox {
    width: 298px;
    float: left;
    margin: 5px;
    padding: 5px;
  }

  .footerbox {
    font-size: 12px;
  }

  .infobox {
    min-height: 150px;
  }

  .talk {
    min-height: 150px;
  }

  .logo {
    height: 75px;
    width: 75px;
    background: url(../img/barcelona-js-small.png) no-repeat;
  }

  .ug-info {
    width: 235px;
    line-height: 14px;
    font-size: 12px;
    left: 10px;
    top: 0;
  }
  
}



/*    Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  
  body {
    width: 480px;
  }

  h1 {
    font-size: 22px;
  }
  
  .content {
    width: 480px;
    margin: auto;
  }

  #banner {
    height: 75px;
  }

  .announcement {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
  }

  .infobox, .sponsor, .talk, .footerbox {
    width: 458px;
    float: left;
    margin: 5px;
    padding: 5px;
  }

  .footerbox {
    font-size: 12px;
  }

  .infobox {
    min-height: 250px;
  }

  .talk {
    min-height: 100px;
  }

  .logo {
    height: 75px;
    width: 75px;
    background: url(../img/barcelona-js-small.png) no-repeat;
  }

  .ug-info {
    width: 385px;
    line-height: 14px;
    font-size: 12px;
    left: 20px;
    top: 30px;
  }
  
}


/*  Retina media query.
  Overrides styles for devices with a 
  device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  
  body {
  
  }
  
}